nav{
    height: 10vh;
    background-color: rgb(83, 21, 125);
    padding-top: 10px;
    
    
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
nav ul li a{
    color: white;
    margin-top: 50px;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a.active {
    font-weight: bold;
    color: rgb(182, 180, 180) ;
    text-decoration: underline;
}
