<!--Data belonging to Data binding in Angular-->
<div>
    <h1>Data Binding</h1>
    <h3>Presented by : B.Srihari</h3>
    <h4>Overview:</h4>
    <p>Data Binding** in Angular is a mechanism that synchronizes data between the component and the UI, allowing
        dynamic updates without manual DOM manipulation. It enables efficient interaction between the application's
        logic and the user interface, making the development process smoother and more intuitive.

        Angular provides four types of data binding:
        1. **Interpolation Displays component properties inside the template, commonly used for outputting
        text within HTML elements.
        2. **Property Binding (`[property]` or `bind-property` )** -Binds a component property to an element’s
        attribute, dynamically updating its value.
        3. **Event Binding (`(event)` or `on-event` )** – Listens for user interactions like clicks or keypresses and
        triggers corresponding methods in the component.
        4. **Two-Way Binding (`[(ngModel)]`)** – Synchronizes data between the template and the component, ensuring that
        changes in the UI reflect in the component and vice versa.

        Data binding enhances the responsiveness of an Angular application by automating updates between the UI and the
        underlying data model. This reduces the need for direct DOM manipulation, leading to cleaner and more
        maintainable code.
    </p>
</div>